<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <alias name="defaultChessBoardService" alias="friendlyChessBoardService"/>
    <bean id="defaultChessBoardService" class="com.davidbalazs.chess.service.impl.DefaultFriendlyChessBoardService">
    </bean>

    <alias name="defaultPossibleMovesGenerator" alias="possibleMovesGenerator"/>
    <bean id="defaultPossibleMovesGenerator" class="com.davidbalazs.chess.movegenerator.impl.MainPossibleMovesGenerator">
        <property name="possibleMoveGenerators">
            <list>
                <ref bean="pawnMoveGenerator"/>
            </list>
        </property>
    </bean>

    <bean id="pawnMoveGenerator" class="com.davidbalazs.chess.movegenerator.impl.PawnPossibleMovesGenerator">
        <property name="bitBoardProcessor" ref="bitBoardProcessor"/>
    </bean>

    <bean id="bitBoardProcessor" class="com.davidbalazs.chess.processor.BitBoardProcessor"/>

</beans>