<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <alias name="defaultChessBoardService" alias="friendlyChessBoardService"/>
    <bean id="defaultChessBoardService" class="com.davidbalazs.chess.service.impl.DefaultFriendlyChessBoardService"/>

    <alias name="defaultMoveService" alias="moveService"/>
    <bean id="defaultMoveService" class="com.davidbalazs.chess.service.impl.DefaultMoveService"/>

    <alias name="defaultPossibleMovesGenerator" alias="possibleMovesGenerator"/>
    <bean id="defaultPossibleMovesGenerator"
          class="com.davidbalazs.chess.movegenerator.impl.MainPossibleMovesGenerator">
        <property name="possibleMoveGenerators">
            <list>
                <ref bean="pawnPossibleMoveGenerator"/>
                <!--<ref bean="knightPossibleMovesGenerator"/>-->
                <ref bean="rookPossibleMovesGenerator"/>
                <!--<ref bean="kingPossibleMovesGenerator"/>-->
            </list>
        </property>
    </bean>

    <bean id="pawnPossibleMoveGenerator" class="com.davidbalazs.chess.movegenerator.impl.PawnPossibleMovesGenerator">
        <property name="bitBoardProcessor" ref="bitBoardProcessor"/>
        <property name="moveService" ref="moveService"/>
    </bean>

    <bean id="knightPossibleMovesGenerator"
          class="com.davidbalazs.chess.movegenerator.impl.KnightPossibleMovesGenerator">
        <property name="bitBoardProcessor" ref="bitBoardProcessor"/>
        <property name="moveService" ref="moveService"/>
    </bean>

    <!--this should not be added directly to mainPossibleMovesGenerator, because it is a generic piece type. It should be used by rook and by queen move generators.-->
    <bean id="lineSlidingPiecePossibleMovesGenerator"
          class="com.davidbalazs.chess.movegenerator.impl.LineSlidingPiecePossibleMovesGenerator">
        <property name="bitBoardProcessor" ref="bitBoardProcessor"/>
    </bean>

    <bean id="rookPossibleMovesGenerator"
          class="com.davidbalazs.chess.movegenerator.impl.RookPossibleMovesGenerator">
        <property name="bitBoardProcessor" ref="bitBoardProcessor"/>
        <property name="moveService" ref="moveService"/>
    </bean>

    <bean id="kingPossibleMovesGenerator"
          class="com.davidbalazs.chess.movegenerator.impl.KingPossibleMovesGenerator">
        <property name="bitBoardProcessor" ref="bitBoardProcessor"/>
        <property name="moveService" ref="moveService"/>
    </bean>

    <bean id="bitBoardProcessor" class="com.davidbalazs.chess.processor.BitBoardProcessor"/>

    <bean id="minimax" class="com.davidbalazs.chess.algorithms.Minimax">
        <property name="moveGenerator" ref="possibleMovesGenerator"/>
    </bean>

    <bean id="evaluationFunction" class="com.davidbalazs.chess.algorithms.EvaluationFunction"/>

</beans>
